@model IEnumerable<GestaoColaboradores.Models.Entities.Usuario>

@{
    ViewData["Title"] = "Listagem";
}

<h1>Lista de Usuários</h1>

<p>
    <a asp-action="Create">Criar novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioAtivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAtivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Ver detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>


