@model GestaoColaboradores.Models.Entities.Unidade

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza de que deseja excluir o registro?</h3>
<div>
    <h4>Unidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeAtiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeAtiva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUnidade" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
